<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xxx.dao.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.xxx.entity.Comment" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="target_id" property="targetId" jdbcType="BIGINT" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="reply_user_id" property="replyUserId" jdbcType="BIGINT" />
    <result column="up_count" property="upCount" jdbcType="BIGINT" />
    <result column="down_count" property="downCount" jdbcType="BIGINT" />
    <result column="delete_status" property="deleteStatus" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, target_id, parent_id, user_id, content, reply_user_id, up_count, down_count, 
    delete_status, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xxx.entity.CommentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_comment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_comment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xxx.entity.CommentExample" >
    delete from tb_comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xxx.entity.Comment" >
    insert into tb_comment (id, target_id, parent_id, 
      user_id, content, reply_user_id, 
      up_count, down_count, delete_status, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{targetId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, 
      #{userId,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR}, #{replyUserId,jdbcType=BIGINT}, 
      #{upCount,jdbcType=BIGINT}, #{downCount,jdbcType=BIGINT}, #{deleteStatus,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xxx.entity.Comment" >
    insert into tb_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="targetId != null" >
        target_id,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="replyUserId != null" >
        reply_user_id,
      </if>
      <if test="upCount != null" >
        up_count,
      </if>
      <if test="downCount != null" >
        down_count,
      </if>
      <if test="deleteStatus != null" >
        delete_status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="targetId != null" >
        #{targetId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="replyUserId != null" >
        #{replyUserId,jdbcType=BIGINT},
      </if>
      <if test="upCount != null" >
        #{upCount,jdbcType=BIGINT},
      </if>
      <if test="downCount != null" >
        #{downCount,jdbcType=BIGINT},
      </if>
      <if test="deleteStatus != null" >
        #{deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xxx.entity.CommentExample" resultType="java.lang.Integer" >
    select count(*) from tb_comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_comment
    <set >
      <if test="record.upCount != null" >
        up_count = #{record.upCount,jdbcType=BIGINT},
      </if>
      <if test="record.downCount != null" >
        down_count = #{record.downCount,jdbcType=BIGINT},
      </if>
      <if test="record.deleteStatus != null" >
        delete_status = #{record.deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>


  <update id="updateByExample" parameterType="map" >
    update tb_comment
    set id = #{record.id,jdbcType=BIGINT},
      target_id = #{record.targetId,jdbcType=BIGINT},
      parent_id = #{record.parentId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      content = #{record.content,jdbcType=VARCHAR},
      reply_user_id = #{record.replyUserId,jdbcType=BIGINT},
      up_count = #{record.upCount,jdbcType=BIGINT},
      down_count = #{record.downCount,jdbcType=BIGINT},
      delete_status = #{record.deleteStatus,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xxx.entity.Comment" >
    update tb_comment
    <set >
      <if test="targetId != null" >
        target_id = #{targetId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="replyUserId != null" >
        reply_user_id = #{replyUserId,jdbcType=BIGINT},
      </if>
      <if test="upCount != null" >
        up_count = #{upCount,jdbcType=BIGINT},
      </if>
      <if test="downCount != null" >
        down_count = #{downCount,jdbcType=BIGINT},
      </if>
      <if test="deleteStatus != null" >
        delete_status = #{deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xxx.entity.Comment" >
    update tb_comment
    set target_id = #{targetId,jdbcType=BIGINT},
      parent_id = #{parentId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      content = #{content,jdbcType=VARCHAR},
      reply_user_id = #{replyUserId,jdbcType=BIGINT},
      up_count = #{upCount,jdbcType=BIGINT},
      down_count = #{downCount,jdbcType=BIGINT},
      delete_status = #{deleteStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>